{% extends 'base.html.twig' %}

{% block title %}Liste des clients{% endblock %}

{% block body %}

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Ville</th>
                <th>Pays</th>
                <th>Société</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
                <tr>
                    <td>{{ client.nom }}</td>
                    <td>{{ client.prenom }}</td>
                    <td>{{ client.ville }}</td>
                    <td>{{ client.pays }}</td>
                    <td>{{ client.societeNom }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucun client trouvé.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
